/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

:root{
    --primary: hsl(0, 36%, 70%);
    --secondary: hsl(0, 93%, 68%);
    --tertiary: hsl(0, 6%, 24%);
    --gradient1: linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --gradient2: linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 99vw;
    height: 55vw;
    margin: 0 auto;
    display: flex;
}
.main{
    width: 57.5%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(135deg,hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
    z-index: -2;
}
.main::before{
    content: " ";
    background-image: url(images/bg-pattern-desktop.svg);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.typography{
margin: 15% auto;
height: 50%;
width: 60%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.logo{
    width: 60%;
    margin: 4em auto 2.5em auto;
}
.header{
    width: 40%;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: var(--tertiary);
}
.header span:first-of-type{
    font-weight: 300;
    color: var(--primary);
}
header p{

}
.text{
    width: 88%;
    color: var(--primary);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}
.validation{
    height: 3em;
    width: 90%;
    display: flex;
    overflow: hidden;
    border: .5px solid var(--primary);
    border-radius: 30px;
    
}
.email{
    border: none;
    width: 75%;
    color: var(--secondary);
    padding-left: 2em;
    font-size: 12px;
}
.email::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--primary);
    opacity: .6;
}
.button{
    height: 100%;
    width: 25%;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
}
.arrow{
    height: 1.8em;
}
footer{
    position: absolute;
    bottom: 1em;
    left: 6em;
    opacity: .6;
}
.photo{
    width: 42.5%;
    height: 100%;
    margin: 0;
}
.photo-desktop{
    width: 100%;
    height: 100%;
}
.photo-mobile{
    display: none;
}
.attribution{
    color: var(--primary);
    padding-left: 5em;
    font-size: .7em;
}
.attribution a{
    color: var(--primary);
    /* text-decoration: none; */
}
@media (max-width: 1030px){
    .logo{
        margin: 3em auto 2.5em auto;
    }
    .header{
        font-size: 2.5em;
    }
    .text{
        font-size: 14px;
    }
    .validation{
        height: 2.3em;
    }
    footer{
        bottom: 0;
        left: 3em;
    }
}
@media (max-width: 800px) {
    .container{
        width: 100vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
    }
    .logo{
        margin: 6% auto 75% 10%;
    }
    .logo img{
        width: 40%;
    }
    .typography{
        width: 65%;
        text-align: center;
    }
    .header{
        font-size: 3em;
        padding: 0 auto;
        margin: .5em auto;
        width: fit-content;
    }
    .text{
        width: fit-content;
    }
    .main{
        width: 100%;
        height: 100%;
    }
    .photo-desktop{
        display: none;
    }
    .photo{
        position: absolute;
        width: 100vw;
        top: 12.5%;
        left: 0;
    }
    .photo-mobile{
        display: unset;
        width: 100%;
    }
    .validation{
        margin: 2em auto;
        height: 3em;
        width: 80%;
    }
    footer{
        left: 0;
        padding: 0;
        margin: 0;
    }
    .attribution{
    padding-left: 3em;
}
}
@media (max-width: 600px){

    .logo{
        margin: 10% auto 85% 10%;
    }
    .logo img{
        width: 50%;
    }
    .typography{
        width: 85%;
    }
    .text{
        font-size: 16px;
    }
    .header{
        font-size: 2.6em;
    }
    .email::placeholder{
        font-size: 1.1em;
    }
    .validation{
        width: 100%;
    }
}