*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--red);
    background-image: url(images/bg-intro-mobile.png);
    background-size: cover;
}
.wrapper{
    width: 100%;
    min-height: 95vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
h1 {
    display: none;
}
.paragraph{
    margin: 3em auto;
}
.paragraph-header{
color: white;
font-size: 2.75em;
font-weight: 600;
text-align: center;
}
.paragraph-text{
    color: white;
    font-size: 1.6em;
    line-height: 1.7;
    font-weight: 400;
    text-align: center;
}
.form, .signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 100%;
}
.form-header{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7;
    width: 100%;
    padding: 1.5em 5em;
    text-align: center;
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2);
}
.form-header span{
    font-weight: 600;
}
.signup{
    width: 100%;
    padding-top: 1.75em;
    padding-bottom: 1.25em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.);

}
.signup-input{
    width: 85%;
    padding: 1.65em;
    margin: .6em;
    border-radius: 5px;
    border: 1px solid var(--grayish-blue);
}
.signup-input::placeholder{
    font-weight: 600;
    font-size: 1.1em;
}
.signup-button{
    background-color: var(--green);
    color: white;
    text-transform: uppercase;
    border: none;
}
.annotation{
    width: 80%;
    text-align: center;
    color: var(--grayish-blue);
}
.attribution { 
    font-size: 11px; text-align: center;
    color: var(--dark-blue); 
    opacity: .7;
}
